body {
    /*border: 1px solid black;*/
    padding-top: 5px;
    background-color: #eee;
}
.container{
    max-width: 285px;
    margin: auto;
    margin: 5px 10px;
}
form {
    display: flex;
    flex-direction: column;  
}
form > * {
    margin-bottom: 10px;
}
.font {
    font-size: 23px;
}
h1 {
    font-size: 35px;
}
.div-phone {
    height: 50px;
}
.phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;    
}
#ddd {
    width: 100px;
    text-align-last: center;
    text-align: center;
}
#phone {
    padding-left: 10px;
}
#msg {
    padding: 5px;
}
.center {
    text-align: center;
}
#send {
    display: flex;
    flex-direction: line;
    justify-content: space-around;
}
footer {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    border-top: 1px solid #000000;
    padding-top: 5px;
    color: #9c9c9c;
}

