.container{
    max-width: 285px;
    margin: auto;
}
form {
    display: flex;
    flex-direction: column;  
}
form > * {
    margin-bottom: 10px;
}
.font {
    font-size: 23px;
}
.div-phone {
    height: 50px;
}
.phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;    
}
#ddd {
    width: 100px;
    text-align-last: center;
    text-align: center;
}
#phone {
    padding-left: 10px;
}
#msg {
    padding: 5px;
}
.center {
    text-align: center;
}
#send {
    display: flex;
    flex-direction: line;
    justify-content: space-around;
}

